/* App.css */


/* about pages */
.member-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
  /* by changing margin 35px (to < 38px) below you control how many team members cards will fitt in one row */
  margin: 5px;
}

.member {
  text-align: center;
  vertical-align: middle;
  /* padding-bottom: 10px; */
  padding-top: 20px;
  flex-basis: calc(25% - 30px);
  margin: 0 15px 30px;
}

.gg-align-center {
  justify-content: center !important;
  text-align: center !important;
}

.content-box-md {
  padding: 40px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.aboutimg {
  width: 100%;
  height: auto;
  border: 1px solid #f3f0f0;
  margin: 10px 0;
}

.card-medium {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.nav-link {
  text-decoration: none;
  color: inherit; /* Inherits the color from its parent */
  /* Add any additional styling you want */
}

.hover-background {
  color: inherit;
  transition: background-color 0.3s ease;
}

.white-icon {
  color: white;
}

.hover-background:hover {
  background-color: inherit; /* Change to the desired background color on hover */
}


/* Outlet styles */
.outlet-root {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
}

.outlet-container {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding-top: 75px;
}

.outlet-main-content {
  text-align: center;
  flex: 1 1 auto;
  overflow: auto;
}

.outlet-content {
  flex: 1 1 auto;
  overflow: auto;
}

/* NavBar styles */
.grow {
  flex-grow: 1;
}
.image-container {
  max-width: 100%;
  height: auto;
  img {
    width: "2em";
  }
}
.section-desktop {
  display: none;
  @media (min-width: 600px) {
    display: flex;
  }
}
.section-mobile {
  display: flex;
  @media (min-width: 600px) {
    display: none;
  }
}

/* Object Styles */
.object-sidebar {
  width: 200px;
  flex-shrink: 0;
  overflow: auto;
  height: 100%;
}

.object-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

