/* App.css */
/* Define a CSS variable for red color */
:root {
  /* --main-red-color: rgb(227, 55, 55); */
  --main-red-color: rgb(210, 31, 60) !important;
  --main-blue-color: #0477bf !important;
  --main-cardBackground-color: #D8E9FD !important
}

/* About page- BCOnexus.js CSS Components */

.About-bullet {
  /* display: "inline-block";
  margin: "0 2px";
  transform: "scale(0.8)";

  font: 26px; */

  color: black;
  font-size: 22px !important;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  margin: 10px 2px !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

.About-linkCard {
  min-height: 300px;
  min-width: 275px;
  text-align: center;
  background-color:var(--main-cardBackground-color)
}
.About-title {
  font-size: 33px !important;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  margin: 10px 2px !important;
  font-weight: bold !important;
}

.About-centerCard {
  min-width: 275 !important;
  text-align: center !important;
}


/* about pages */
.member-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
  /* by changing margin 35px (to < 38px) below you control how many team members cards will fitt in one row */
  margin: 5px;
}

.member {
  text-align: center;
  vertical-align: middle;
  /* padding-bottom: 10px; */
  padding-top: 20px;
  flex-basis: calc(25% - 30px);
  margin: 0 15px 30px;
}

.gg-align-center {
  justify-content: center !important;
  text-align: center !important;
}

.content-box-md {
  padding: 40px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.aboutimg {
  width: 100%;
  height: auto;
  border: 1px solid #f3f0f0;
  margin: 10px 0;
}

.card-medium {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.nav-link {
  text-decoration: none;
  color: inherit; /* Inherits the color from its parent */
  /* Add any additional styling you want */
}

.hover-background {
  color: inherit;
  transition: background-color 0.3s ease;
}

.white-icon {
  color: white;
}

.hover-background:hover {
  background-color: inherit; /* Change to the desired background color on hover */
}

/*----------------------------------------------------------------------------------------------*/
/* Account page- Servers.js CSS Components */

.Account-Servers-bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}

.Account-Servers-server-card {
  min-width: 275px;
  min-height: 250px;
  max-width: 500px;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 12px;
}

.Account-Servers-heightened {
  min-height: 250px;
}

.Account-Servers-title {
  font-size: 37px;
}

.Account-Servers-pos {
  margin-bottom: 12px;
}




/* Outlet styles */
.outlet-root {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
}

.outlet-container {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding-top: 75px;
}

.outlet-main-content {
  text-align: center;
  flex: 1 1 auto;
  overflow: auto;
}

.outlet-content {
  flex: 1 1 auto;
  overflow: auto;
}

/* NavBar styles */
.grow {
  flex-grow: 1;
}
.image-container {
  max-width: 100%;
  height: auto;
  img {
    width: "2em";
  }
}
.section-desktop {
  display: none;
  @media (min-width: 600px) {
    display: flex;
  }
}
.section-mobile {
  display: flex;
  @media (min-width: 600px) {
    display: none;
  }
}

/* Object Styles */
.object-sidebar {
  width: 250px;
  flex-shrink: 0;
  overflow: none;
  height: 600px;
}

.object-contents {
  flex:auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: fit-content;
}

.button-confirm {
  color: blue;
}

.select-box {
  min-width: 250px;
  justify-content: center;
}

.object-buttons {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.object-domain {
  margin-bottom: 35px;
}

/* Homepage Styles */
.home-root {
  background-color: rgb(250, 249, 246);
  min-height: 100%;
  margin-top: auto;
  /* padding-bottom: 3;
  padding-top: 3; */
  margin-left: auto;
  min-width: 275;
}

.home-bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}

.home-centered {
  min-Width: 275;
  text-align: center;
  margin-Top: 0;
}

.home-heightened {
  min-height: 250px;
}

.home-intro-title {
  font-size: 28px !important;
  font-weight: bold !important;
}

.home-position {
  margin-bottom: 12;
}

.home-margintop{
  margin-top: 50px;
}

.home-colorBackground {
  background-color: rgb(186, 209, 234);
}

.home-linkcard {
  min-height: 470px;
  min-width: 275;
  text-align: center;
  margin-top: 5;
}

.home-supportcard {
  text-align: center;
  margin-bottom: 10;
  min-height: 460px;
  min-width: 275;
}

.home-subtitle {
  font-size: 24px !important;
}

/* prefix Styles */
.resources-root {
  background-color: rgb(250, 249, 246);
  margin-top: auto;
  /* padding-bottom: 3;
  padding-top: 3; */
  margin-left: auto;
  min-width: 275;
}

.resources-supportcard {
  text-align: center;
  margin-bottom: 8;
}

.resources-title {
  font-size: 28px !important;
  font-weight: bold !important;
}

.resources-linkcard {
  min-height: auto;
  text-align: center;
}

.resources-subtitle {
  font-size: 25px !important;
  font-weight:600 !important;
}

.resources-bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}

/* builder Styles */
.add-button {
  /* border-radius: 60% !important;
  width:20px !important;
  height: 60px !important; */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: rgb(37, 92, 181) !important;
} 

.delete-button {
  color: var(--main-red-color) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.bold-title {
  font-weight: bold;
}

.required-field {
  /* color: rgb(227, 55, 55) !important; */
  color: var(--main-red-color) !important;
}


/* text field */
.large_textfield {
  border-style: inherit;
  width: max-content;
  grid-auto-rows: auto;
}