
.download-button {
    background-color: #0071BD;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.upload-grid {
    background-color: #0071BD;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}


.confirm {

    align-items: left;
}