
[GOOGLE_KEYS]
DJANGO_GOOGLE_OAUTH2_CLIENT_ID=404409424650-a1hh4j6m9r3998v16siia2lum9un21ip.apps.googleusercontent.com
DJANGO_GOOGLE_OAUTH2_CLIENT_SECRET=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

[DJANGO_KEY]
SECRET_KEY=ZgrrtmykLRizVCiK2OBGtG06R4gBc5RoXCBE4Anv5nQ=